{% extends 'base.html' %}

{% block content %}
  <h1>Add a new message!</h1>
  <form method="POST" action="{{url_for('messages_index', user_id=user.id)}}">
    <div class="form-group row">
      <label for="content" class="col-sm-2 col-form-label d-flex align-items-center">Message Content</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="content" name="content" placeholder="What do you want your message to be?">
      </div>
    </div>
    <div class="form-check">
      <p>Tags</p>
      {% for tag in tags %}
        <div>
          <input class="form-check-input" type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags">
          <label class="form-check-label" for="tag_{{ tag.id }}">
            <p class="badge badge-pill badge-warning">{{ tag.name }}</p>
          </label>
        </div>
      {% endfor %}
    </div>
    <div class="form-group row">
      <div class="ml-auto mr-3">
        <a href="{{ url_for('messages_index', user_id=user.id) }}" class="btn btn-info">Go back to message list</a>
        <button type="submit" class="btn btn-success">Add a new message for {{ user.first_name }} {{ user.last_name }}</button>
      </div>
    </div>
  </form>
{% endblock %}
